{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{ blog.title }}</h1>

<h2 style="align-items: center;">Media Content</h2>


<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- Media Grid -->
    <div class="w3-row-padding w3-padding-16 w3-center" id="media">
        {% for media in media_contents %}
        <div class="w3-quarter">
            {% if media.media_type == 'image' %}
                <img src="{{ media.media_file.url }}" alt="{{ media.name }}" style="width:100%">
            {% elif media.media_type == 'video' %}
                <video controls style="width:100%">
                    <source src="{{ media.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <h3>{{ media.name }}</h3>
            <p>{{ media.description }}</p>
        </div>
        {% endfor %}
    </div>

</div>

        {% endblock %}